<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="write">
	<insert id="upload" parameterType="java.util.HashMap">
		insert into values(write_seq.nextval,#{id},#{title},#{text},#{maincate},#{subcate},#{ccount},sysdate)
	</insert>
</mapper>